In [1]:
import pandas as pd
import json
import numpy as np
from collections import defaultdict
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [4]:
df = pd.read_csv('data/processed.tsv', sep='\t')

In [2]:
df2 = pd.read_csv('data/ds-processed.tsv', sep='\t')

In [ ]:
df2[(df2['degree'] == 'bachelor') & (df2['yoe_total'] < 2)]

In [9]:
df = df[:5].drop(['country', 'state'], axis=1)

In [10]:
df

,company,location,date,level,title,tc,base,stock,bonus,details,gender,yrs_at_company,yoe_total,degree,remote,race
0,Veracode,"Burlington, MA",2022-01-30,L1,API Development (Back-End),120000.0,120000.0,NaN,NaN,"Remote, Title: Software Engineer, Race: White,...",Male,0.0,1.0,bachelor,True,white
1,IBM,"Rochester, MN",2022-01-30,Staff Engineer,Distributed Systems (Back-End),112000.0,112000.0,NaN,NaN,"$15,000 sign-on bonus, Title: Software Develop...",Male,0.0,0.0,master,False,white
2,Philips,"Cambridge, MA",2022-01-30,L4,Data,122000.0,111000.0,NaN,11000.0,"10K Relocation Bonus, Title: Cloud Software De...",Male,2.0,3.0,master,False,asian
3,Teleport,"Oakland, CA",2022-01-30,L3,Site Reliability (SRE),180000.0,180000.0,NaN,NaN,"Title: Sre, Race: White, Academic Level: Bache...",Male,1.0,8.0,bachelor,False,white
4,IBM,"Rochester, MN",2022-01-30,Advisory Engineer,API Development (Back-End),128000.0,128000.0,NaN,NaN,"Title: Advisory Software Developer, Race: Whit...",Male,7.0,7.0,bachelor,False,white

In [11]:
df2 = df2[:5]

In [23]:
df.sample(frac=1)

,company,location,date,level,title,tc,base,stock,bonus,details,gender,yrs_at_company,yoe_total,degree,remote,race
3,Teleport,"Oakland, CA",2022-01-30,L3,Site Reliability (SRE),180000.0,180000.0,NaN,NaN,"Title: Sre, Race: White, Academic Level: Bache...",Male,1.0,8.0,bachelor,False,white
2,Philips,"Cambridge, MA",2022-01-30,L4,Data,122000.0,111000.0,NaN,11000.0,"10K Relocation Bonus, Title: Cloud Software De...",Male,2.0,3.0,master,False,asian
4,IBM,"Rochester, MN",2022-01-30,Advisory Engineer,API Development (Back-End),128000.0,128000.0,NaN,NaN,"Title: Advisory Software Developer, Race: Whit...",Male,7.0,7.0,bachelor,False,white
0,Veracode,"Burlington, MA",2022-01-30,L1,API Development (Back-End),120000.0,120000.0,NaN,NaN,"Remote, Title: Software Engineer, Race: White,...",Male,0.0,1.0,bachelor,True,white
1,IBM,"Rochester, MN",2022-01-30,Staff Engineer,Distributed Systems (Back-End),112000.0,112000.0,NaN,NaN,"$15,000 sign-on bonus, Title: Software Develop...",Male,0.0,0.0,master,False,white

In [20]:
df3 = pd.concat([df, df2], axis=0)

In [24]:
df3.reset_index(inplace=True, drop=True)
df3.sample(frac=1).reset_index(drop=True)

,company,location,date,level,title,tc,base,stock,bonus,details,gender,yrs_at_company,yoe_total,degree,remote,race
0,Teleport,"Oakland, CA",2022-01-30,L3,Site Reliability (SRE),180000.0,180000.0,NaN,NaN,"Title: Sre, Race: White, Academic Level: Bache...",Male,1.0,8.0,bachelor,False,white
1,Walmart Global Tech,"Sunnyvale, CA",2022-01-30,X4,Optimization,243000.0,165000.0,45000.0,33000.0,"Title: Senior Data Scientist, Race: Asian, Aca...",Male,1.0,3.0,phd,False,asian
2,JPMorgan Chase,"Columbus, OH",2022-01-30,602,ML,165000.0,140000.0,NaN,25000.0,Title: Senior Quant Modeler,NaN,1.0,1.0,NaN,False,NaN
3,Facebook,"Menlo Park, CA",2022-01-30,IC5,Product,365000.0,210000.0,125000.0,30000.0,"Remote, Title: Senior Data Scientist, Race: As...",Male,0.0,6.0,master,True,asian
4,Veracode,"Burlington, MA",2022-01-30,L1,API Development (Back-End),120000.0,120000.0,NaN,NaN,"Remote, Title: Software Engineer, Race: White,...",Male,0.0,1.0,bachelor,True,white
5,IBM,"Rochester, MN",2022-01-30,Staff Engineer,Distributed Systems (Back-End),112000.0,112000.0,NaN,NaN,"$15,000 sign-on bonus, Title: Software Develop...",Male,0.0,0.0,master,False,white
6,IBM,"Rochester, MN",2022-01-30,Advisory Engineer,API Development (Back-End),128000.0,128000.0,NaN,NaN,"Title: Advisory Software Developer, Race: Whit...",Male,7.0,7.0,bachelor,False,white
7,Philips,"Cambridge, MA",2022-01-30,L4,Data,122000.0,111000.0,NaN,11000.0,"10K Relocation Bonus, Title: Cloud Software De...",Male,2.0,3.0,master,False,asian
8,Cigna,"Hartford, CT",2022-01-30,L4,Marketing,163000.0,138000.0,NaN,25000.0,"8k sign on, Title: Senior Business Advisor, Ra...",Male,2.0,8.0,master,False,asian
9,Facebook,"Menlo Park, CA",2022-01-30,IC4,Analytics,210000.0,158000.0,40000.0,12000.0,"Title: Data Science, Analytics",NaN,0.0,5.0,NaN,False,NaN

In [ ]:
df2 = df2[df2['yoe_total'] <= 10]
df2 = df2[df2['degree'] != 'phd']