In [1]:
import pandas as pd
import json
import numpy as np
from collections import defaultdict
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [2]:
df = pd.read_csv('data/processed.tsv', sep='\t')

In [3]:
df = df[df['location'] == 'San Francisco, CA']

In [4]:
pt = df.pivot_table(index='company', columns='gender', aggfunc='count', values='location')#.sort_values('Non-binary', ascending=False)[:10]
pt['total'] = pt.sum(axis=1)
pt['gay_pct'] = pt['Non-binary'] / pt['total']
pt['pct_techbros'] = pt['Male'] / pt['total']

In [8]:
pt[pt['Non-binary'] >= 3].sort_values('gay_pct', ascending=False)[:20]
pt[pt['total'] >= 25].sort_values('pct_techbros')[:20]

gender      Female   Male  Non-binary  total   gay_pct  pct_techbros
company
Oracle         8.0   20.0         1.0   29.0  0.034483      0.689655
Twilio        12.0   29.0         1.0   42.0  0.023810      0.690476
DoorDash      12.0   34.0         1.0   47.0  0.021277      0.723404
Pinterest     12.0   45.0         2.0   59.0  0.033898      0.762712
Yelp          27.0   95.0         2.0  124.0  0.016129      0.766129
Apple          7.0   32.0         2.0   41.0  0.048780      0.780488
Coinbase       9.0   33.0         NaN   42.0       NaN      0.785714
Google        43.0  195.0         6.0  244.0  0.024590      0.799180
Twitter       16.0   74.0         2.0   92.0  0.021739      0.804348
Microsoft      6.0   33.0         2.0   41.0  0.048780      0.804878
Slack          6.0   29.0         1.0   36.0  0.027778      0.805556
Salesforce    57.0  254.0         4.0  315.0  0.012698      0.806349
Airbnb        13.0   69.0         3.0   85.0  0.035294      0.811765
Amazon        28.0  129.0         1.0  158.0  0.006329      0.816456
Facebook      17.0   77.0         NaN   94.0       NaN      0.819149
Lyft          16.0   89.0         3.0  108.0  0.027778      0.824074
Square         8.0   43.0         1.0   52.0  0.019231      0.826923
Splunk         3.0   24.0         2.0   29.0  0.068966      0.827586
Dropbox       11.0   60.0         1.0   72.0  0.013889      0.833333
Stripe         8.0   43.0         NaN   51.0       NaN      0.843137

In [25]:
pt.loc[['Intel', 'Amazon']]

gender   Female    Male  Non-binary   total   gay_pct  pct_techbros
company
Intel      57.0   314.0         2.0   373.0  0.005362      0.841823
Amazon    493.0  4324.0        23.0  4840.0  0.004752      0.893388

In [10]:
df[df['company'] == '7-Eleven']

,company,location,date,level,title,tc,base,stock,bonus,details,gender,yrs_at_company,yoe_total,degree,remote,race,country,state
2280,7-Eleven,"Irving, TX",2022-01-15,II,Data,138000.0,125000.0,NaN,13000.0,"Title: Data Engineer, Race: Asian, Academic Le...",Non-binary,2.0,9.0,master,False,asian,United States,Texas
8797,7-Eleven,"Irving, TX",2021-11-18,Mid,API Development (Back-End),130000.0,130000.0,NaN,NaN,"Remote, Title: Software Engineer, Race: White,...",Male,0.0,4.0,NaN,True,white,United States,Texas
10306,7-Eleven,"Irving, TX",2021-11-05,Senior Software Engineer,Full Stack,161000.0,141000.0,NaN,20000.0,"Title: Senior Software Engineer, Race: Asian, ...",Male,2.0,4.0,master,False,asian,United States,Texas
28815,7-Eleven,"Dallas, TX",2021-03-31,2,API Development (Back-End),154000.0,140000.0,NaN,14000.0,Title: Software Engineer Ii,NaN,2.0,6.0,NaN,False,NaN,United States,Texas
35272,7-Eleven,"Dallas, TX",2020-12-10,Software Engineer II,Full Stack,138000.0,125000.0,NaN,13000.0,Academic Level: Master’s degree,NaN,3.0,3.0,master,False,NaN,United States,Texas

In [9]:
grp.loc['Non-binary'].sort_values('location')

,location,date,level,title,tc,base,stock,bonus,details,yrs_at_company,yoe_total,degree,remote,race,country,state
company,,,,,,,,,,,,,,,,
7-Eleven,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
New Relic,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
NextRoll,1,1,1,1,1,1,1,0,1,1,1,0,1,0,1,1
Nextdoor,1,1,1,1,1,1,1,0,0,1,1,0,0,0,1,1
Nike,1,1,1,1,1,1,0,1,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Apple,13,13,13,13,13,13,13,13,7,13,13,4,7,4,13,13
Facebook,14,14,14,14,14,14,14,14,8,14,14,7,8,5,14,14
Microsoft,20,20,20,20,20,19,19,19,12,20,20,9,12,7,20,20
Amazon,23,23,23,23,23,23,22,15,14,23,23,9,14,5,23,22
Google,29,29,29,29,29,26,25,24,14,29,29,10,14,9,29,29