In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
with open('data/salaryData.json') as f:
    data = json.load(f)

In [3]:
df = pd.DataFrame(data)
df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,otherdetails,cityid,dmaid,rowNumber
0,6/7/2017 11:33:27,Oracle,L3,Product Manager,186,"Redwood City, CA",1,1,,160,17,9,,,7392,807,1
1,6/10/2017 17:11:29,eBay,SE 2,Software Engineer,0,"San Francisco, CA",3,4,,0,0,0,,,7419,807,2
2,6/11/2017 14:53:57,Amazon,L7,Product Manager,126,"Seattle, WA",10,0,,126,0,0,,,11527,819,3
3,6/14/2017 21:22:25,Microsoft,64,Software Engineering Manager,171348,"Redmond, WA",13,13,,92799,55371,23178,,,11521,819,5
4,6/16/2017 10:44:01,Amazon,L5,Software Engineer,214175,"Vancouver, BC, Canada",13,1,,156335,0,57840,,,1320,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,8/17/2021 8:16:36,Amazon,L6,Product Manager,272,"Seattle, WA",7,0,Analytic,176,51,45,Female,scrielt schwists fuech xauem typaiarty siids q...,11527,819,83870
62638,8/17/2021 8:22:17,Fidelity Investments,L3,Software Engineer,50,"Durham, NC",0,0,Full Stack,43,0,7,Male,pauss jiusts liaop rhiitts proing smiodly splu...,9606,560,83871
62639,8/17/2021 8:24:56,Cisco,Grade 8,Software Engineer,200,"San Jose, CA",3,6,Networking,179,7,14,Male,triasm froidy peusk juieck skaorr,7422,807,83872
62640,8/17/2021 8:26:21,HSBC,GCB5,Software Engineer,86,"New York, NY",10,5,Full Stack,72,0,14,,hypoiarly khoiarts krol sqierg,10182,501,83874
62641,8/17/2021 8:28:57,Adobe,Software Engineer 5,Product Designer,382,"San Francisco, CA",7,0,User Experience (UX),230,139,13,Male,fluingly toasly croesm fiuk gniosk khaiarts st...,7419,807,83875

In [4]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [5]:
df[(df['company'] == 'Amazon') & (df['title'] == "Software Engineer")].tail(50)

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,otherdetails,cityid,dmaid,rowNumber
61781,2021-08-10 15:30:22,Amazon,L5,Software Engineer,232,"Newark, NJ",3,3,Full Stack,176,53,3,Male,mcloiapt,1288,501,82641
61796,2021-08-10 16:41:53,Amazon,L4,Software Engineer,166,"Seattle, WA",6,1,Distributed Systems (Back-End),99,45,22,Male,jeiady traiall schmaol schriouw knapp mccleos ...,11527,819,82657
61854,2021-08-11 03:38:38,Amazon,L5,Software Engineer,220,"Sydney, NS, Australia",16,0,Distributed Systems (Back-End),160,29,31,,klesp sqaiantly mcuops kwaum,1311,0,82738
61887,2021-08-11 09:22:30,Amazon,SDE I,Software Engineer,176,"Seattle, WA",1,1,Full Stack,127,41,8,Male,nips schlioc shaay spraorry typehn smaiart hyd...,11527,819,82780
61904,2021-08-11 10:47:17,Amazon,L5,Software Engineer,238,"San Diego, CA",3,0,Security,167,48,23,Female,khiough pfaiv schneent xaemp yiady pholly phearth,7416,825,82801
61907,2021-08-11 12:05:32,Amazon,L5,Software Engineer,242,"Seattle, WA",4,4,Distributed Systems (Back-End),127,115,0,,cleency scraesk shraiacy,11527,819,82805
61908,2021-08-11 12:16:06,Amazon,L6,Software Engineer,270,"Seattle, WA",11,9,Full Stack,89,175,6,Male,rhaor briit thruc tseind mcmoary khoosch grerd...,11527,819,82807
61965,2021-08-11 19:00:13,Amazon,L4,Software Engineer,193,"Seattle, WA",0,0,Web Development (Front-End),162,31,0,Male,leiry mcdeulls scriids stiecy synin,11527,819,82886
61973,2021-08-11 20:52:38,Amazon,L5,Software Engineer,283,"Irvine, CA",2,2,Testing (SDET),194,74,15,Male,schraeps squiss mckaiox feiamp dynoialy sproil...,7229,803,82896
61977,2021-08-11 21:37:59,Amazon,L4,Software Engineer,166,"Seattle, WA",0,0,Full Stack,125,11,30,,skoiaf hypunt pluly juopt rhord hraiows feibs ...,11527,819,82902
61978,2021-08-11 21:39:31,Amazon,L5,Software Engineer,274,"Seattle, WA",4,2,Full Stack,215,59,0,,hypuays,11527,819,82903
61983,2021-08-11 23:14:57,Amazon,L4,Software Engineer,239,"San Francisco, CA",3,3,Production,221,13,5,Female,spruicts schluncy dweonds,7419,807,82912
61987,2021-08-11 23:59:57,Amazon,L6,Software Engineer,167,"Sunnyvale, CA",11,7,Testing (SDET),105,62,0,,hrieub hreitts sqieurd physeaugy slaer cyclioc...,7472,807,82917
62008,2021-08-12 08:00:11,Amazon,L4,Software Engineer,243,"New York, NY",3,0,DevOps,194,38,11,Male,dweeng grairly whuerly dynueft troiarty hydreu...,10182,501,82952
62057,2021-08-12 13:45:09,Amazon,L4,Software Engineer,229,"New York, NY",0,0,ML / AI,162,43,24,,keorst hrioup psychius rhiev mcfiaotch,10182,501,83015
62060,2021-08-12 13:57:46,Amazon,L4,Software Engineer,95,"Seattle, WA",4,1,API Development (Back-End),73,11,11,Male,hypaorth schweelt noetz peists kuys scauny psy...,11527,819,83018
62088,2021-08-12 17:50:30,Amazon,L5,Software Engineer,319,"Arlington, VA",4,0,ML / AI,125,103,91,,sneitts,11342,511,83053
62155,2021-08-13 08:04:37,Amazon,L5,Software Engineer,109,"Berlin, BE, Germany",18,3,Data,77,21,11,Male,wriubly kaiohl chrorry ceub sqoetch cycliet fr...,3651,0,83157
62180,2021-08-13 09:52:01,Amazon,L5,Software Engineer,199,"Arlington, VA",20,0,Distributed Systems (Back-End),106,6,87,,reirst meern szias schniny schmalls draurf ghi...,11342,511,83190
62181,2021-08-13 09:52:04,Amazon,SDE I,Software Engineer,116,"Cambridge, EN, United Kingdom",3,0,Distributed Systems (Back-End),76,27,13,,cycliorf qaerty mccraicts plaionds spluings mc...,4878,0,83191
62229,2021-08-13 14:34:12,Amazon,L4,Software Engineer,134,"Seattle, WA",7,0,Web Development (Front-End),82,15,37,,chraudly schwiez smeengs craeld mcaock schwaio...,11527,819,83253
62233,2021-08-13 14:57:37,Amazon,SDE II,Software Engineer,243,"Sunnyvale, CA",2,0,ML / AI,130,38,75,Male,gneosp,7472,807,83257
62234,2021-08-13 15:01:16,Amazon,L5,Software Engineer,282,"San Francisco, CA",13,0,ML / AI,153,18,111,,fluisk schriiff freetch loib typoom shreiall k...,7419,807,83258
62259,2021-08-13 17:33:20,Amazon,L4,Software Engineer,112,"Seattle, WA",0,0,Full Stack,80,21,11,Male,muently spiav toiald schloirg feaush chier yie...,11527,819,83288
62260,2021-08-13 17:41:54,Amazon,L4,Software Engineer,173,"Seattle, WA",3,3,Full Stack,161,12,0,,stoests mcmuieb,11527,819,83290
62269,2021-08-13 18:44:46,Amazon,L4,Software Engineer,196,"Seattle, WA",1,0,Distributed Systems (Back-End),177,11,8,,wuin schneeys symbuct schmoix spoiasp wriath,11527,819,83302
62277,2021-08-13 19:18:33,Amazon,L4,Software Engineer,100,"Toronto, ON, Canada",2,1,Full Stack,85,15,0,Male,baiog mceintly dwiics schliolly hriouss zagh,1206,0,83312
62299,2021-08-13 22:58:36,Amazon,L6,Software Engineer,313,"Seattle, WA",10,5,Distributed Systems (Back-End),180,133,0,Male,cziest draitz,11527,819,83341
62307,2021-08-13 23:47:45,Amazon,L4,Software Engineer,77,"Taipei, TP, Taiwan",1,0,Networking,56,13,8,Male,typueps swunds,6744,0,83351
62309,2021-08-14 00:18:53,Amazon,L4,Software Engineer,102,"New York, NY",0,0,Distributed Systems (Back-End),72,30,0,Female,cheords doupt,10182,501,83356
62322,2021-08-14 01:45:00,Amazon,L5,Software Engineer,121,"Berlin, BE, Germany",3,0,Data,90,11,20,Male,koif mcgiir neiax schnoen dyneis teauntly sriu...,3651,0,83372
62330,2021-08-14 04:49:50,Amazon,L5,Software Engineer,225,"Seattle, WA",5,0,Full Stack,171,29,25,Male,mckungly mcoath gnuengs siurf viouy pfiift cla...,11527,819,83386
62357,2021-08-14 10:48:40,Amazon,L4,Software Engineer,238,"Arlington, VA",1,0,AWS,213,16,9,Male,hyieuty mcdouys plaend synaork psychuients,11342,511,83423
62360,2021-08-14 10:56:21,Amazon,L4,Software Engineer,194,"Seattle, WA",0,0,Full Stack,154,31,9,Male,waian droofy hyiasch,11527,819,83427
62375,2021-08-14 15:08:03,Amazon,L4,Software Engineer,211,"Seattle, WA",5,2,Full Stack,172,39,0,,hydraiwn thock schlaorry szieuhl mccruarry kre...,11527,819,83446
62378,2021-08-14 15:29:00,Amazon,L4,Software Engineer,173,"Seattle, WA",0,0,Distributed Systems (Back-End),144,22,7,Male,mudy schliurth hyuilt shroz cycluontz hypeaucy...,11527,819,83450
62383,2021-08-14 17:31:56,Amazon,L3,Software Engineer,215,"Seattle, WA",0,0,Full Stack,194,0,21,Male,phiaops spriewn mcmougs bleb fuilt buant traic...,11527,819,83458
62386,2021-08-14 17:53:16,Amazon,L5,Software Engineer,216,"Seattle, WA",11,1,Distributed Systems (Back-End),151,56,9,Male,hyuatch hydraiaz xiaov,11527,819,83461
62398,2021-08-14 22:35:13,Amazon,L4,Software Engineer,184,"Vancouver, BC, Canada",3,3,API Development (Back-End),140,28,16,Male,psychiay duarry chioll kroiass kriusk guip sch...,1320,0,83479
62445,2021-08-15 12:08:15,Amazon,L5,Software Engineer,58,"Bangalore, KA, India",3,3,Full Stack,55,3,0,,hicy schmaiarts boias cycliaold,4058,0,83541
62450,2021-08-15 13:11:47,Amazon,L4,Software Engineer,85,"Vancouver, BC, Canada",0,0,Distributed Systems (Back-End),63,9,13,Male,psychaiof schaiols caicks schleaurly plieurd s...,1320,0,83549
62460,2021-08-15 14:47:43,Amazon,L5,Software Engineer,159,"Dublin, DN, Ireland",12,0,Distributed Systems (Back-End),123,27,9,,mcaurty typiaorm dwirry qeacs shrix veiant ciarf,4015,0,83562
62466,2021-08-15 16:40:57,Amazon,L5,Software Engineer,176,"Seattle, WA",4,0,Full Stack,151,25,0,,twiurg greurth yiaws riontly pfiers praatts sc...,11527,819,83575
62504,2021-08-16 02:05:59,Amazon,L5,Software Engineer,69,"Bengaluru, KA, India",4,1,Distributed Systems (Back-End),35,26,8,Male,reuss sloady,42498,0,83639
62540,2021-08-16 12:26:24,Amazon,L5,Software Engineer,254,"New York, NY",20,3,API Development (Back-End),97,105,52,Male,khuds,10182,501,83702
62542,2021-08-16 12:34:30,Amazon,L5,Software Engineer,270,"Seattle, WA",2,3,Full Stack,249,21,0,Male,scrooct moiv haions briark psychiiks mcgeask m...,11527,819,83704
62587,2021-08-16 19:37:04,Amazon,L4,Software Engineer,128,"Vancouver, BC, Canada",0,0,Full Stack,108,11,9,Male,twubs ghaigh psychiouks luob cyclieur preors s...,1320,0,83781
62616,2021-08-16 23:02:52,Amazon,L5,Software Engineer,382,"Sunnyvale, CA",3,0,Distributed Systems (Back-End),240,82,60,Male,theeks szairg,7472,807,83824
62617,2021-08-16 23:10:15,Amazon,SDE I,Software Engineer,175,"Seattle, WA",0,0,Full Stack,121,33,21,Male,sroard hydrieuys hyiaorst schroorty typoiacts ...,11527,819,83825
62624,2021-08-17 03:16:59,Amazon,L5,Software Engineer,99,"Dublin, DN, Ireland",9,1,Site Reliability (SRE),61,17,21,Male,trieurn kroilt xaasch keaunn liaongly voak,4015,0,83843

In [6]:
df.loc[62624]['otherdetails']
df.loc[62617]['otherdetails']

'sroard hydrieuys hyiaorst schroorty typoiacts flich mccuesh mcfaerty'

In [7]:
pd.read_html('https://www.levels.fyi/comp.html')

ValueError: No tables found

In [22]:
df.loc[62624]['otherdetails']

'trieurn kroilt xaasch keaunn liaongly voak'

In [11]:
df['gender'].value_counts()

Male                               35702
                                   19540
Female                              6999
Other                                400
Title: Senior Software Engineer        1
Name: gender, dtype: int64

In [13]:
df['timestamp'].max()

Timestamp('2021-08-17 08:28:57')

In [4]:
df = df.replace('', np.nan)
df.isna().sum()

timestamp                      0
company                        0
level                          0
title                          0
totalyearlycompensation        0
location                       0
yearsofexperience              0
yearsatcompany                 0
tag                          786
basesalary                     0
stockgrantvalue                0
bonus                          0
gender                     19540
otherdetails               22503
cityid                         0
dmaid                          2
rowNumber                      0
dtype: int64

In [19]:
df['otherdetails'].str.contains()

1

In [20]:
df['otherdetails'].unique()

array([nan, 'birm', 'syniirty typuirm mcuiehl', ...,
       'triasm froidy peusk juieck skaorr',
       'hypoiarly khoiarts krol sqierg',
       'fluingly toasly croesm fiuk gniosk khaiarts strucy'], dtype=object)